{%  extends "base.html" %}

{% block title %}
Listado de blogs
{% endblock %}

{% block body %}

    {%  for blog in items %}
        <a href="/blogs/{{ blog.owner.username }}">
        <h3>{{ blog.name }}</h3>
        <h3>{{ blog.description }}</h3>
        <h6>Created by {{ blog.owner.username }} on {{ blog.creation_date }}</h6>
        <div>
            <img src="{{ blog.image.url }}" alt="{{ blog.name }}" title="{{ blog.name }}" width="200px">

        </div>
        </a>
        <hr>
    {%  endfor %}
{% endblock %}